.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.job{
  color: red;
  font-size: large;
  transform: translate(200px);

}
.name{
  color: red;
  font-size: large;
  transform: translate(200px);
  
}
.count{
  color: red;
  font-size: large;
  transform: translate(200px);
  
}
.image{
  width: 90px;
  height: 90px;
  transform:translate(222px)
}
.bt{
  transform: translate(100px);
  color: blue;
}